{"type":["DISPENSED","EXPIRED","WASTED","MISSING","RECEIVED","ADJUSTMENTS","FROZEN","LABEL_REMOVED","BREAKAGE","OTHERS","VVM_CHANGE"],"factor":[-1,-1,-1,-1,1,1,-1,-1,-1,-1,-1],"CommoditiesGroupName":"PHC Facility commodities","ActivityGroupName":"LMIS Activity Type","ou.level":4,"soh.name":"STOCK_ON_HAND","stockout":true}